* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
}

/* --- header "buzzquizz" --- */
header {
    width: 100vw;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.escondido {
    display: none;
}