* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    --vermelho: #EC362D;
}

body {
    background: #FAFAFA;
}

/* --- header "buzzquizz" --- */
header {
    width: 100vw;
    height: 69px;
    background: var(--vermelho);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 5;
}

header h1 {
    color: white;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.escondido {
    display: none;
}

.tela3 .escondido {
    display: none;
}

@media (min-width: 1100px) {
    header {
        left: 0px;
        right: 0px;
        width: 100%;
        max-width: 1440px;
    }
}

.escondido {
    display: none;
}

.tela3 .escondido {
    display: none;
}